.genders-container {
    margin-bottom: 40px;
}

.btn-back {
    margin-bottom: 30px;
}

.collection-container {
    margin-top: 50px;
}

.button-container {
    margin-top: 50px;
}

.button-container i {
    margin-right: 12px;
}

.collection-item {
    font-size: 20px;
}

.title-span {
    padding: 10px;
    opacity: 0.7;
    font-size: 18px;
}


/*Buttons*/

.edit-button {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 250px;
}