.res-navbar {
    background-color: #f5b06c;
    overflow: hidden;
    height: 65px;
    width: 100%;
}

    .res-navbar a {
        float: left;
        color: #0d2a54;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .res-navbar ul {
       list-style: none;
       font-size: 24px;
    }

    .res-navbar a:hover {
        background-color: #0d2a54;
        color: white;
    }

.fa-bars {
    color: white;
}

.res-side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

    .res-side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 1.2rem;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }

        .res-side-nav a:hover {
            color: #fff;
        }

    .res-side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width:568px) {
    .res-navbar-nav {
        display: none;
    }
}

@media(min-width:568px) {
    .res-open-slide {
        display: none;
    }
}