

body {
    background-color: rgba(19, 22, 66);
    color: white;
    font-family: 'Prompt', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.first-container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.horse-container {
    margin: auto;
    border: 2px solid rgb(242, 243, 250);
    box-shadow: 8px 8px 6px #888888;
    font-size: 20px;
    padding: 20px;
}

.horses-table {
    padding: 20px;
    width: 100%;
}

.horses-table tr {
    padding: 20px;
}

.create-container {
    width: 60%;
    margin: 0 auto;
}

dt {
    color: #a6a6a6;
}

dd {
    margin-bottom: 20px;
}

.navbar {
    background-color: #0033cc;
    width: 2000px !important;
    margin: 0 !important;
}

table {
    margin-top: 3rem;
    box-shadow: 8px 8px 6px #888888;
}

td {
    color: rgb(242, 243, 250);
}

td a {
    color: rgb(242, 243, 250);
}

th {
    font-size: 1.3rem;
    color: #a6a6a6;
}

.btn {
    font-weight: 800;
    background-color: rgb(242, 243, 250);
    color: rgba(19, 22, 66);
}

.btn-edit, .btn-delete {
    width: 140px;
    margin: 20px;
}

.btn:hover {
    background-color: rgb(182, 198, 240);
       
}

.buttonContainer {
    margin-top: 30px;
}

.createForm {
    width: 80%;
}

select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.text-muted {
    opacity: 0.5;
}

.input-field, select {
    margin-bottom: 20px;
}

.saveHorse-button, .cancelEdit-button {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
}

