
<div>
    <form name="horseForm">
    <h2>{{vm.title}}</h2>

    <div>
        <input type="text" name="name" ng-model="vm.horse.Id">
    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.Name">
    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.DateOfBirth">

    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.DamName">

    </div>

    <div>
        <input type="text" name="name" ng-model="vm.horse.SireName">
    </div>
    <div>
        <!--<input type="text" name="name" ng-model="vm.horse.ColourName">-->
        <select ng-model="vm.horse.ColourName" ng-options="x.Name for x in vm.colours">
        </select>

    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.GenderName">
    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.CountryName">
    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.CategoryName">
    </div>
    <div>
        <input type="text" name="name" ng-model="vm.horse.AcquisitionName">
    </div>
    </form>
    <button class="btn btn-primary"
            ng-click="updateHorse()">
        Save
    </button>

    <button class="btn btn-default"
            style="width:70px"
            ng-click="vm.cancel(horseForm)">
        Cancel
    </button>
</div>


