<div>
    <navbar></navbar>
    <div class="container">

        <h2>{{vm.title}}</h2>
        <div>
            <ul>
                <li ng-repeat="e in vm.errors">{{e}}</li>
            </ul>
        </div>

        <!--new form-->
        <div class="row">
            <form class="col s12 horseForm" name="editForm">
                <div class="row">
                    <!-- Name -->
                    <div class="input-field col s6">
                        <input class="white-text validate" placeholder="Name" id="name" type="text"
                               ng-model="vm.horse.Name" />
                    </div>

                    <!-- Date of birth -->
                    <div class="input-field col l6 m6 s12">
                        <!--<label for="dateOfBirth">Date Of Birth</label>-->

                        <input type="text" id="dateOfBirth" class="datepicker white-text"
                               ng-model="vm.horse.DateOfBirth" />
                    </div>

                    <!-- Colours -->
                    <div class="col l6 m6 s12">
                        <label for="colour">Colours</label>
                        <select class="browser-default"
                                id="colour"
                                ng-model="vm.horse.ColourId"
                                ng-options="x.Id as x.Name for x in vm.colours">
                            <option value="" disabled selected>-- Select Colour -- </option>
                        </select>
                    </div>

                    <!-- Dams -->
                    <div class="col l6 m6 s12">
                        <label for="dam">Dam</label>
                        <select class="browser-default"
                                id="dam"
                                ng-model="vm.horse.DamId"
                                ng-options="x.Id as x.Name for x in vm.dams">
                            <option value="" selected>-- Select Dam --</option>
                        </select>
                    </div>

                    <!-- Sires -->
                    <div class="col l6 m6 s12">
                        <label for="sire">Sire</label>
                        <select class="browser-default"
                                id="sire"
                                ng-model="vm.horse.SireId"
                                ng-options="x.Id as x.Name for x in vm.sires">
                            <option value="" selected>-- Select Sire --</option>
                        </select>
                    </div>

                    <!-- Categories -->
                    <div class="col l6 m6 s12">
                        <label for="category">Category</label>
                        <select class="browser-default"
                                id="category"
                                ng-model="vm.horse.CategoryId"
                                ng-options="x.Id as x.Name for x in vm.categories">
                            <option value="" selected>-- Select Category --</option>
                        </select>
                    </div>

                    <!-- Genders -->
                    <div class="col l6 m6 s12">
                        <label for="gender">Gender</label>
                        <select class="browser-default"
                                id="gender"
                                ng-model="vm.horse.GenderId"
                                ng-options="x.Id as x.Name for x in vm.genders">
                            <option value="" selected>-- Select Gender --</option>
                        </select>
                    </div>

                    <!-- Countries -->
                    <div class="col l6 m6 s12">
                        <label for="country">Country</label>
                        <select class="browser-default"
                                id="country"
                                ng-model="vm.horse.CountryId"
                                ng-options="x.Id as x.Name for x in vm.countries">
                            <option value="" selected>-- Select Country --</option>
                        </select>
                    </div>

                    <!-- Acquisitions -->
                    <div class="col l6 m6 s12">
                        <label for="acquisition">Acquisition Type</label>
                        <select class="browser-default"
                                id="acquisition"
                                ng-model="vm.horse.AcquisitionId"
                                ng-options="x.Id as x.Name for x in vm.acquisitions">
                            <option value="" selected>-- Select Acquisition Type --</option>
                        </select>
                    </div>

                    <!-- Save Button -->
                    <div class="col l6 m6 s12">
                        <button type="submit"
                                class="btn-large waves-effect waves-light saveHorse-button"
                                ng-click="vm.submit(vm.horse.Id)">
                            <!--ui-sref="horses">-->
                            <!--ng-disabled="horseForm.$invalid"-->
                            Save
                        </button>
                        <button class="btn-large waves-effect waves-light cancelEdit-button blue lighten-5 teal-text"
                                ng-click="vm.cancel(editForm)">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
