<div class="container">

    <h2 class="text-center" style="margin-bottom: 20px;">Horse Details:</h2>


    <div class="w-50 horse-container">

        <dl class="dl-horizontal">
            <dt>
                Horse Id:
            </dt>
            <dd>
                {{vm.horse.Id}}
            </dd>
            <dt>
                Horse Name:
            </dt>
            <dd>
                {{vm.horse.Name}}
            </dd>
            <dt>
                Horse Country:
            </dt>
            <dd style="font-style:italic;" ng-if="vm.horse.CountryName == null">
                Unknown
            </dd>
            <dd ng-if="vm.horse.CountryName != null">
                {{vm.horse.CountryName}}
            </dd>
            <dt>
                Horse Gender:
            </dt>
            <dd>
                {{vm.horse.GenderName}}
            </dd>

        </dl>

    </div>

    <div>
        <a ui-sref="edit ({horseId: vm.horse.Id})">Edit Horse</a>
    </div>
</div>