<div class="container">

    <div ng-if="vm.horses == null">
        No horses
    </div>
    <div ng-if="vm.horses != null">
        <table class="table table-success table-bordered">
            <thead>
                <tr>
                    <th>Horse Id</th>
                    <th>Horse Name</th>
                    <th>Horse Country</th>
                    <th>Horse Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in vm.horses">
                    <td>{{x.Id}}</td>
                    <td><a ui-sref="horse ({horseId: x.Id})">{{x.Name}}</a></td>
                    <td>{{x.CountryName}}</td>
                    <td>{{x.GenderName}}</td>
                </tr>
            </tbody>
        </table>


    </div>

    <div>
        <a ui-sref="create">Create new horse</a>
    </div>

</div>