<div>
    <div class="row">
        <div class="col l12 m12 s12 collection-container">
            <ul class="collection with-header indigo-text">
                <li class="collection-header indigo-text"><h4>Ratings:</h4></li>
                <li class="collection-item"><i class="fa fa-user" aria-hidden="true"></i><span class="title-span">Rated By: </span>{{vm.rating.ContactName}}</li>
                <li class="collection-item"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="title-span">Date: </span>{{vm.rating.RatingDate | date: "dd-MM-yyyy"}}</li>
                <li class="collection-item"><i class="fa fa-star" aria-hidden="true"></i><span class="title-span">Rating: </span>{{vm.rating.Name}}</li>
                <li class="collection-item"><i class="fa fa-sticky-note" aria-hidden="true"></i><span class="title-span">Notes: </span>{{vm.rating.Note}}</li>
            </ul>
        </div>
    </div>
</div>